
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden; 
      display:flex; 
      width: 28%;
    }

    li {
      float: left;
    }

    li a {
      font-size: 25px;
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
      transition: font-size 500ms ease;
    }

    li a:hover {
      color: #4e4e4e;
      font-size: 40px;
      
    }
    
    .div2 {
      background-color: #11111181;
      color: rgb(255, 255, 255);
      padding: 1%;
      border-radius: 10px;
      border: solid white;
      width: 90%;
      
    }
    .div1{
      border: none;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  
    .city:hover{
      color: #b8b5b5;
    }
    p{
      font-size: 30px;
    }
    .p_font_size{
    font: 20px;
    }
    body{
      background-image: url(../images/backgroundd.jpg);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 0;
      padding: 0;
      height: 100vh;
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
      background-attachment: fixed;
    }
    img{
      border-radius: 10px;
      transition: transform 500ms ease;
    }
    img:hover{
      /* border-bottom: 5px solid gray; */
      transform: scale(1.1);
      
    }

    table,
    th
     {
      padding: 35px;
      border-collapse:separate;
      border: 1px solid rgb(255, 255, 255);
      font-size: 150%;
      overflow: hidden;
      
    }
    td{
      padding: 35px;
      border-collapse:separate;
      border: 1px solid rgb(255, 255, 255);
      font-size: 100%;
      overflow: hidden;

    }
    /* header and fotter */
    header{
      display: flex;
      gap: 15px;
      background-color: #111111;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      padding: 10px 10px;
      position: fixed;
      width: 99%;
      height: 63px;
      

    
    }
    footer{
      background-color: rgb(32, 31, 31);
      color: white;
      

    }
    footer_container {
  align-items: center;
  padding: 10px;
  background-color: #111111;
  color: #fff;
}



.logo_section {
  
  text-align: center;
}

.logo_section img {
  width: 50px;
  margin-bottom: 10px;
}

.text_section {
  text-align: center;
  padding: 10px;
}

.links_section {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.contact_us, .about_us {
  margin-left: 40px;
  margin-right: 90px;
  text-align: center;
}

.contact_us a , .about_us a {
  text-decoration: none;
  color: #91919188;
  font-size: 18px;
}

.contact_us a:hover, .about_us a:hover {
  color: #ffffff;
  border-bottom: 2px solid gray;
}

.contact_us h1, .about_us h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

.footer_container p {
  font-size: 16px;
  margin: 5px;
}
.hr_middel_line{
  border-color: white;
}



    /*
    login page
    */

    .containor {
      background-color: #111111b7;
      color: aliceblue;
      padding: 0%;
      border-radius: 10px;
      width: 0%;
      display: center;
      gap: 20px;
    }
    .city2 {
      color: rgb(255, 255, 255);
      padding: 0%;
      border-radius: 10px;
      border: solid white;
      width: 250px;
      height: 50px;
      font-size: 20px;
      background-color: #11111100;
    }
    .spann {
      font-size: 70px;
      font-family: fantasy;
      color: rgb(255, 255, 255);
    }
    .city2[type="button"]:hover {
      transition: width 1s ease 0s;
      width: 225px;
      height: 75px;
    }
    /*
    search bar
    */
    
    body {
      padding: 0;
      margin: 0;
      height: 100vh;
      width: 100%;
  }
  
  .form1{
      margin-top: 0;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition: all 1s;
      width: 50px;
      height: 50px;
      background: white;
      box-sizing: border-box;
      border-radius: 25px;
      border: 4px solid white;
      padding: 5px;
  }
  
  .input1{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;;
      height: 42.5px;
      line-height: 30px;
      outline: 0;
      border: 0;
      display: none;
      font-size: 1em;
      border-radius: 20px;
      padding: 0 20px;
  }
  
  .fa{
      box-sizing: border-box;
      padding: 10px;
      width: 42.5px;
      height: 42.5px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      color: #444444;
      text-align: center;
      font-size: 1.2em;
      transition: all 1s;
  }
  
  form:hover{
      width: 300px;
      cursor: pointer;
  }
  
  form:hover input{
      display: block;
  }
  
  form:hover .fa{
      background: #3d3d3d;
      color: white;
  }



  .city2[type="button"]:hover {
    background-color: #7c0f0f;
  }
  .pre{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }